@media (min-width: 768px) {
/* Bootstrap Override: Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {
    height: 450px;
  }
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text, and some padding for the footer */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {
      height: auto;
    }
  }
  
  /* Style for sidebar links */
  .sidenav p a {
    color: black;
    
  }
  
  .navbar-brand {
    background-image: url('https://media.istockphoto.com/id/1328167226/vector/open-book.jpg?s=612x612&w=0&k=20&c=yqfKR7Es5IDuM20rtyg4xZihaGTl2waDtvucK1YCTIw=');
    background-size: contain; /* 이미지 크기 조정 */
    width: 75px; /* 원하는 너비 설정 */
    height: 50px; /* 원하는 높이 설정 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    text-indent: -9999px; /* 로고 텍스트 숨김 처리 */
  }
  .sidenav p:first-child {
    font-size: 20px; /* 원하는 폰트 크기로 조정 */
    font-weight: bold;
    margin-bottom: 20px; /* 원하는 간격 설정 */
    margin-top: 10px; /* 원하는 간격 설정 */
}

.col-sm-2.sidenav .well button {
    margin-top: 10px; /* 원하는 여백으로 조정 */
}

table th {
    padding: 30px; /* 위아래 여백 조정 */
    text-align: center; /* 가운데 정렬 */
    margin-left: 40px; /* 왼쪽 여백 조정 */
    margin-right: 40px; /* 오른쪽 여백 조정 */
}



.col-sm-8.text-left {
    text-align: center; /* 텍스트 가운데 정렬 */
    margin: 0 auto; /* 좌우 중앙 정렬 */
}

/* 공통 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

h1 {
    text-align: center;
}


label {
    font-weight: bold;
}

input[type="text"] {
    width: 20%; /* 입력란의 폭을 조절 (50%로 설정) */
    padding: 10px;
    margin: 0 auto; /* 입력란을 가운데 정렬 */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#bookList li {
    margin-bottom: 10px; /
  }
  
 
  #bookList button {
    margin-left: 10px; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 5px 10px; 
    cursor: pointer; 
  }
  
  
  #bookList button:hover {
    background-color: #0056b3;
  }

 
}

/* 모바일 스타일 */
@media (max-width: 768px) {
   
   



    }

  